In [1]:
import os
import sys
sys.path.append(os.path.abspath(os.path.join('..', '..', 'src')))

In [2]:
import pandas as pd

from preprocess import load_data
from util.util_function import SEED, ROOT_PATH

In [3]:
data_path = '/'.join(os.getcwd().split('\\')[:-2])
output_path = f"{data_path}/dataset/preprocessed_weather_20250529.csv"
df = load_data(output_path)

In [4]:
df

,Spot_id,YMD,STN_ID,LAT,LON,target,Sum_rainfall,Max_rainfall_1H,Max_rainfall_1H_occur_time,Average_humidity,Min_humidity,year,month,day
0,6001,20230401,408,37.58463,127.06036,0.640000,-0.563,-0.53376,0.0,-2.222058,-1.780334,2023,4,1
1,6001,20230401,414,37.61172,126.99944,0.527893,-0.563,-0.53376,0.0,-2.222058,-1.762909,2023,4,1
2,6001,20230401,424,37.63801,127.00981,0.574605,-0.563,-0.53376,0.0,-1.897291,-1.797758,2023,4,1
3,6001,20230402,408,37.58463,127.06036,0.574605,-0.563,-0.53376,0.0,-2.806637,-1.861649,2023,4,2
4,6001,20230402,414,37.61172,126.99944,0.443813,-0.563,-0.53376,0.0,-2.806637,-1.850032,2023,4,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
317854,42804,20250525,413,37.53344,127.08601,0.434471,-0.563,-0.53376,0.0,-0.533272,-0.276004,2025,5,25
317855,42804,20250525,569,37.58224,127.15698,0.481182,-0.563,-0.53376,0.0,-0.078599,-0.328278,2025,5,25
317856,42804,20250526,402,37.55556,127.14498,0.686712,-0.563,-0.53376,0.0,-0.468319,-0.729045,2025,5,26
317857,42804,20250526,413,37.53344,127.08601,0.789477,-0.563,-0.53376,0.0,-0.663179,-0.717429,2025,5,26
317858,42804,20250526,569,37.58224,127.15698,0.677369,-0.563,-0.53376,0.0,-0.273459,-0.810360,2025,5,26

In [9]:
most_recent_date = df['YMD'].max()
display(most_recent_date)
count_of_most_recent_data = (df['YMD'] == most_recent_date).sum()
count_of_most_recent_data

np.int64(20250526)

np.int64(405)

In [8]:
most_recent_date = df['YMD'].max()
display(most_recent_date - 1)
count_of_most_recent_data = (df['YMD'] == (most_recent_date - 1)).sum()
count_of_most_recent_data

np.int64(20250525)

np.int64(405)

In [10]:
df = df[df['YMD'] != most_recent_date]

In [11]:
df

,Spot_id,YMD,STN_ID,LAT,LON,target,Sum_rainfall,Max_rainfall_1H,Max_rainfall_1H_occur_time,Average_humidity,Min_humidity,year,month,day
0,6001,20230401,408,37.58463,127.06036,0.640000,-0.563000,-0.533760,0.0,-2.222058,-1.780334,2023,4,1
1,6001,20230401,414,37.61172,126.99944,0.527893,-0.563000,-0.533760,0.0,-2.222058,-1.762909,2023,4,1
2,6001,20230401,424,37.63801,127.00981,0.574605,-0.563000,-0.533760,0.0,-1.897291,-1.797758,2023,4,1
3,6001,20230402,408,37.58463,127.06036,0.574605,-0.563000,-0.533760,0.0,-2.806637,-1.861649,2023,4,2
4,6001,20230402,414,37.61172,126.99944,0.443813,-0.563000,-0.533760,0.0,-2.806637,-1.850032,2023,4,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
317851,42804,20250524,413,37.53344,127.08601,-0.032643,1.940458,2.140413,0.0,0.311121,0.595229,2025,5,24
317852,42804,20250524,569,37.58224,127.15698,-0.060669,1.940458,2.140413,0.0,0.505981,0.566188,2025,5,24
317853,42804,20250525,402,37.55556,127.14498,0.387759,-0.563000,-0.533760,0.0,-0.338412,-0.316662,2025,5,25
317854,42804,20250525,413,37.53344,127.08601,0.434471,-0.563000,-0.533760,0.0,-0.533272,-0.276004,2025,5,25
317855,42804,20250525,569,37.58224,127.15698,0.481182,-0.563000,-0.533760,0.0,-0.078599,-0.328278,2025,5,25

In [12]:
inferance_df = df[df['YMD'] == df['YMD'].max()]
inferance_df

,Spot_id,YMD,STN_ID,LAT,LON,target,Sum_rainfall,Max_rainfall_1H,Max_rainfall_1H_occur_time,Average_humidity,Min_humidity,year,month,day
2355,6001,20250525,408,37.58463,127.06036,0.434471,-0.563,-0.53376,0.0,-0.598225,-0.293429,2025,5,25
2356,6001,20250525,414,37.61134,126.99981,0.266310,-0.563,-0.53376,0.0,-0.338412,-0.124990,2025,5,25
2357,6001,20250525,424,37.63801,127.00981,0.359732,-0.563,-0.53376,0.0,0.051308,-0.148223,2025,5,25
4716,6002,20250525,108,37.57142,126.96580,0.341048,-0.563,-0.53376,0.0,-0.273459,0.008599,2025,5,25
4717,6002,20250525,419,37.55236,126.98736,0.369075,-0.563,-0.53376,0.0,-0.273459,-0.090141,2025,5,25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
315498,42803,20250525,413,37.53344,127.08601,0.434471,-0.563,-0.53376,0.0,-0.533272,-0.276004,2025,5,25
315499,42803,20250525,421,37.54721,127.03885,0.397102,-0.563,-0.53376,0.0,-0.403365,-0.188881,2025,5,25
317853,42804,20250525,402,37.55556,127.14498,0.387759,-0.563,-0.53376,0.0,-0.338412,-0.316662,2025,5,25
317854,42804,20250525,413,37.53344,127.08601,0.434471,-0.563,-0.53376,0.0,-0.533272,-0.276004,2025,5,25
317855,42804,20250525,569,37.58224,127.15698,0.481182,-0.563,-0.53376,0.0,-0.078599,-0.328278,2025,5,25

In [13]:
df = df[df['YMD'] != df['YMD'].max()]
df

,Spot_id,YMD,STN_ID,LAT,LON,target,Sum_rainfall,Max_rainfall_1H,Max_rainfall_1H_occur_time,Average_humidity,Min_humidity,year,month,day
0,6001,20230401,408,37.58463,127.06036,0.640000,-0.563000,-0.533760,0.0,-2.222058,-1.780334,2023,4,1
1,6001,20230401,414,37.61172,126.99944,0.527893,-0.563000,-0.533760,0.0,-2.222058,-1.762909,2023,4,1
2,6001,20230401,424,37.63801,127.00981,0.574605,-0.563000,-0.533760,0.0,-1.897291,-1.797758,2023,4,1
3,6001,20230402,408,37.58463,127.06036,0.574605,-0.563000,-0.533760,0.0,-2.806637,-1.861649,2023,4,2
4,6001,20230402,414,37.61172,126.99944,0.443813,-0.563000,-0.533760,0.0,-2.806637,-1.850032,2023,4,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
317848,42804,20250523,413,37.53344,127.08601,0.331706,1.940458,2.140413,0.0,-0.793085,-0.578032,2025,5,23
317849,42804,20250523,569,37.58224,127.15698,0.228941,1.940458,1.471870,0.0,-0.663179,-0.235347,2025,5,23
317850,42804,20250524,402,37.55556,127.14498,-0.154092,1.940458,2.140413,0.0,0.376074,0.693969,2025,5,24
317851,42804,20250524,413,37.53344,127.08601,-0.032643,1.940458,2.140413,0.0,0.311121,0.595229,2025,5,24
317852,42804,20250524,569,37.58224,127.15698,-0.060669,1.940458,2.140413,0.0,0.505981,0.566188,2025,5,24